@model  IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
<p>We don't have any Customer yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Duscount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Customer.Name, "Details", "Customers", new { id = Customer.Id }, null)
                    </td>
                    <td>@Customer.MembershipType.DiscountRate%</td>
                </tr>
            }
        </tbody>

    </table>  
}

