<appSettings>
  <add key ="MailServer" value="dev.smtp.vidly.com"/>
  <add key="FBappId" value="614557885939052"/>
  <add key="FBappSecret" value="73663faeace3d7efe5cc0e2c8a5b8508"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>